<!-- loading -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Loading item...</p>
	<span class="oi oi-data-transfer-download spin"></span>
</div>

<!-- no data -->
<div *ngIf="ready && !item" class="text-center my-5">
	<p>Data unavailable.</p>
</div>

<!-- item details -->
<div *ngIf="item">

	<!-- breadcrumbs -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
			<li class="breadcrumb-item"><a [routerLink]="'/resource/people'">People</a></li>
			<li class="breadcrumb-item" aria-current="page">{{item.itemName}}</li>
		</ol>
	</nav>

	<!-- page main header -->
	<h1 class="text-center">{{item.itemName}}</h1>

	<!-- general information -->
	<h2>Information</h2>
	<dl class="row mb-5">
		<div class="col-6 col-sm-3">
			<dt>Birth year</dt>
			<dd>{{item.birth_year}}</dd>
		</div>
		<div class="col-6 col-sm-3">
			<dt>Eye color</dt>
			<dd>{{item.eye_color}}</dd>
		</div>
		<div class="col-6 col-sm-3">
			<dt>Gender</dt>
			<dd>{{item.gender}}</dd>
		</div>
		<div class="col-6 col-sm-3">
			<dt>Hair color</dt>
			<dd>{{item.hair_color}}</dd>
		</div>
		<div class="col-6 col-sm-3">
			<dt>Height</dt>
			<dd>{{item.height}} cm</dd>
		</div>
		<div class="col-6 col-sm-3">
			<dt>Mass</dt>
			<dd>{{item.mass}} kg</dd>
		</div>
		<div class="col-6 col-sm-3">
			<dt>Skin color</dt>
			<dd>{{item.skin_color}}</dd>
		</div>
	</dl>

	<!-- related items -->
	<app-item-list *ngIf="item.homeworld" [title]="'Homeworld'" [items]="[item.homeworld]"></app-item-list>
	<app-item-list *ngIf="item.films && item.films.length" [title]="'Films'" [items]="item.films"></app-item-list>
	<app-item-list *ngIf="item.species && item.species.length" [title]="'Species'" [items]="item.species"></app-item-list>
	<app-item-list *ngIf="item.characters && item.characters.length" [title]="'Characters'" [items]="item.characters"></app-item-list>
	<app-item-list *ngIf="item.planets && item.planets.length" [title]="'Planets'" [items]="item.planets"></app-item-list>
	<app-item-list *ngIf="item.vehicles && item.vehicles.length" [title]="'Vehicles'" [items]="item.vehicles"></app-item-list>
	<app-item-list *ngIf="item.starships && item.starships.length" [title]="'Starships'" [items]="item.starships"></app-item-list>

</div>