<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
		<li class="breadcrumb-item"><a [routerLink]="'/resource/'+resource">{{resource|titlecase}}</a></li>
		<li class="breadcrumb-item" aria-current="page">Page {{page}}</li>
	</ol>
</nav>

<!-- page title -->
<h1 class="text-center">{{resource|titlecase}}</h1>

<!-- loading -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Loading resource...</p>
	<span class="oi oi-data-transfer-download spin"></span>
</div>

<!-- no data -->
<div *ngIf="ready && !data" class="text-center my-5">
	<p>Data unavailable.</p>
</div>

<!-- pagination -->
<app-resource-pagination *ngIf="ready && data" [data]="data"></app-resource-pagination>

<!-- list of items -->
<app-item-list *ngIf="ready && data" [items]="getItemsUrls()"></app-item-list>

<!-- pagination -->
<app-resource-pagination *ngIf="ready && data" [data]="data"></app-resource-pagination>