<div class="sw-item">
	<div class="card justify-content-center text-center">

		<!-- header loading -->
		<div class="card-header" *ngIf="!ready">Loading...</div>
		<!-- header ready -->
		<div class="card-header" *ngIf="ready">
			<p class="m-0" *ngIf="data" title="{{data.itemName}}" style="overflow:hidden;text-overflow: ellipsis;white-space: nowrap; max-width: 100%;">{{data.itemName}}</p>
			<p class="m-0" *ngIf="!data">{{route}}</p>
		</div>

		<!-- body loading -->
		<div class="card-body" *ngIf="!ready">
			<div class="text-center resource-image">
				<span class="oi oi-data-transfer-download spin"></span>
			</div>
		</div>
		<!-- body ready -->
		<div class="card-body" *ngIf="ready">
			<div *ngIf="!data" class="text-center resource-image">
				Data unavailable.
			</div>
			<div *ngIf="data" class="resource-image resource-image-{{data.itemResource}}"></div>
		</div>

		<!-- footer -->
		<div class="card-footer">
			<a href="#" [routerLink]="route" class="card-link">View details</a>
		</div>
		<!--<app-favorite-button [url]="data.url"></app-favorite-button>-->
	</div>
</div>