// 2 columns layout
.sw-item-list {
	display: grid;
	grid-template-columns: repeat(2, 48%);
	grid-column-gap: 2%;
	grid-row-gap: 1rem;
	margin: 0;
	padding: 0;
	
	&--item {
		list-style-type: none;

		&:hover {
			transform: scale(1.02);
		}
	}
}

// 4 columns on medium screens
@media all and (min-width: 768px){
	.sw-item-list {
		grid-template-columns: repeat(4, 24%);
		grid-column-gap: 1.33%;
	}
}

// 5 columns on large screens
@media all and (min-width: 992px){
	.sw-item-list {
		grid-template-columns: repeat(5, 19%);
		grid-column-gap: 1.25%;
	}
}
