<h3 class="mb-3" *ngIf="title">{{title}} ({{items.length}})</h3>

<!-- list of items -->
<ul class="sw-item-list mb-5">
	<li class="sw-item-list--item" *ngFor="let item of items">
		<app-item [url]="item"></app-item>
	</li>
</ul>