<h1 class="text-center mt-5">Star Wars Fan App</h1>
<h2 class="text-center mb-5">Welcome</h2>
<div class="text-center mb-5 wrapper-300">
	<form name="login-form" aria-labelledby="login">
		<div class="form-group">
			<label for="user">Enter a username to login</label>
			<input class="form-control text-center" maxlength="16" type="text" id="user" name="user" [(ngModel)]="username" (keydown)="onKeyDown($event)" />
		</div>
		<button type="button" class="btn btn-primary btn-lg" [disabled]="!username" (click)="login()">Login</button>
	</form>
</div>