<!-- loading -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Loading item...</p>
	<span class="oi oi-data-transfer-download spin"></span>
</div>

<!-- no data -->
<div *ngIf="ready && !item" class="text-center my-5">
	<p>Data unavailable.</p>
</div>

<!-- item details -->
<div *ngIf="item">

	<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
			<li class="breadcrumb-item"><a [routerLink]="'/resource/vehicles'">Vehicles</a></li>
			<li class="breadcrumb-item" aria-current="page">{{item.itemName|titlecase}}</li>
		</ol>
	</nav>

	<!-- page main header -->
	<h1 class="text-center">{{item.itemName}}</h1>

	<!-- general information -->
	<h2>Information</h2>
	<dl class="row mb-5">
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Model</dt>
			<dd>{{item.model}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Vehicle class</dt>
			<dd>{{item.vehicle_class}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Manufacturer</dt>
			<dd>{{item.manufacturer}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>length</dt>
			<dd>{{item.length}} m</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Cost in credits</dt>
			<dd>{{item.cost_in_credits}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Crew</dt>
			<dd>{{item.crew}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Passengers</dt>
			<dd>{{item.passengers}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Max atmosphering speed</dt>
			<dd>{{item.max_atmosphering_speed}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Cargo capacity</dt>
			<dd>{{item.cargo_capacity}} kg</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Consumables</dt>
			<dd>{{item.consumables}}</dd>
		</div>
	</dl>

	<!-- related items -->
	<app-item-list *ngIf="item.films" [title]="'films'" [items]="item.films"></app-item-list>
	<app-item-list *ngIf="item.pilots && item.pilots.length" [title]="'Pilots'" [items]="item.pilots"></app-item-list>

</div>