<!-- loading -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Loading item...</p>
	<span class="oi oi-data-transfer-download spin"></span>
</div>

<!-- no data -->
<div *ngIf="ready && !item" class="text-center my-5">
	<p>Data unavailable.</p>
</div>

<div *ngIf="item">

	<!-- breadcrumbs -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
			<li class="breadcrumb-item"><a [routerLink]="'/resource/species'">Species</a></li>
			<li class="breadcrumb-item" aria-current="page">{{item.itemName}}</li>
		</ol>
	</nav>

	<!-- page main header -->
	<h1 class="text-center">{{item.name}}</h1>

	<!-- general information -->
	<h2>Information</h2>
	<dl class="row mb-5">
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Classification</dt>
			<dd>{{item.classification}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Designation</dt>
			<dd>{{item.designation}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Average Height</dt>
			<dd>{{item.average_height}} cm</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Average Lifespan</dt>
			<dd>{{item.average_lifespan}} years</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Eye colors</dt>
			<dd>{{item.eye_colors}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Hair colors</dt>
			<dd>{{item.hair_colors}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Skin colors</dt>
			<dd>{{item.skin_colors}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Language</dt>
			<dd>{{item.language}}</dd>
		</div>
	</dl>

	<!-- related items -->
	<app-item-list *ngIf="item.homeworld" [title]="'Homeworld'" [items]="[item.homeworld]"></app-item-list>
	<app-item-list *ngIf="item.people" [title]="'People'" [items]="item.people"></app-item-list>

</div>