.crawl {

	height: 200px;
	perspective: 250px;
	perspective-origin: bottom;
	background-color: #000;
	overflow: hidden;
	transition: all 1s linear;

	&--content {

		position: absolute;
		bottom:0;
		background-color: transparent;
		transform: rotateX(45deg) translateY(100%);
		transform-origin: bottom;
		transition: transform 20s linear;
		animation: crawl 60s linear infinite;
		
		p {
			color: #EEDB00;
			font-size: 30px;
			text-align: justify;
			font-family: sans-serif;
		}
	}
}

@media all and (min-width: 768px) {
	.crawl {
		height: 300px;
		perspective: 350px;
	
		&--content p {
			font-size: 50px;
		}
	}
}


@media all and (min-width: 992px) {
	.crawl {
		height: 400px;
		perspective: 450px;
	
		&--content p {
			font-size: 70px;
		}
	}
}


@keyframes crawl {
	from { opacity: 1; transform: rotateX(45deg) translateY(100%); }
	90% { opacity: 1; transform: rotateX(45deg) translateY(-8%); }
	to { opacity: 0; transform: rotateX(45deg) translateY(-20%); }
}