<!-- loading -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Loading item...</p>
	<span class="oi oi-data-transfer-download spin"></span>
</div>

<!-- no data -->
<div *ngIf="ready && !item" class="text-center my-5">
	<p>Data unavailable.</p>
</div>

<!-- item details -->
<div *ngIf="ready && item">

	<!-- breadcrumbs -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
			<li class="breadcrumb-item"><a [routerLink]="'/resource/films'">Films</a></li>
			<li class="breadcrumb-item" aria-current="page">{{item.itemName}}</li>
		</ol>
	</nav>

	<!-- page main header -->
	<h1 class="text-center">{{item.itemName}}</h1>
	<h3 class="text-center mb-4">Episode <span [ngClass]="'roman-' + item.episode_id"></span></h3>

	<!-- general information -->
	<h2>Information</h2>
	<dl class="row mb-5">
		<div class="col-6 col-sm-3">
			<dt>Director</dt>
			<dd>{{item.director}}</dd>
		</div>
		<div class="col-6 col-sm-3">
			<dt>Producer</dt>
			<dd>{{item.producer}}</dd>
		</div>
		<div class="col-6 col-sm-3">
			<dt>Release date</dt>
			<dd>{{item.release_date|date}}</dd>
		</div>
		<div class="col-6 col-sm-3">
			<dt>Episode id</dt>
			<dd>{{item.episode_id}}</dd>
		</div>
		<div class="col-12">
			<dt>Opening crawl (<a href="#" (click)="toggleCrawl()">{{playCrawl ? 'stop' : 'play'}}</a>)</dt>
			<dd>
				<div class="animate" [ngClass]="{'crawl': playCrawl}">
					<div [ngClass]="{'crawl--content': playCrawl}">
						<p *ngFor="let p of crawl">{{p}}</p>
					</div>
				</div>
			</dd>
		</div>
	</dl>

	<!-- related items -->
	<app-item-list *ngIf="item.characters" [title]="'Characters'" [items]="item.characters"></app-item-list>
	<app-item-list *ngIf="item.planets" [title]="'Planets'" [items]="item.planets"></app-item-list>
	<app-item-list *ngIf="item.species" [title]="'Species'" [items]="item.species"></app-item-list>
	<app-item-list *ngIf="item.starships" [title]="'Starships'" [items]="item.starships"></app-item-list>
	<app-item-list *ngIf="item.vehicles" [title]="'Vehicles'" [items]="item.vehicles"></app-item-list>

</div>