<p class="text-center">{{getVerbose()}}</p>

<nav aria-label="Search result page" class="mb-4">
	<ul class="pagination justify-content-center">
		<li class="page-item page-previous" [ngClass]="{'disabled': !data.previous}">
			<a class="page-link" [routerLink]="getPrevPageRoute()">&laquo;</a>
		</li>
		<li class="page-item" *ngFor="let el of counter(data.count);let i = index;" [ngClass]="{'active': data.resourcePage == (i+1)}">
			<a class="page-link" [routerLink]=" getPageRoute(i+1)">{{i+1}}</a>
		</li>
		<li class="page-item page-next" [ngClass]="{'disabled': !data.next}">
			<a class="page-link" [routerLink]="getNextPageRoute()">&raquo;</a>
		</li>
	</ul>
</nav>