<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Search: {{term}}</li>
	</ol>
</nav>

<!-- page main header -->
<h1 class="text-center">Search</h1>
<h3 *ngIf="term" class="text-center mb-4">you searched for <b>{{term}}</b></h3>
<h3 *ngIf="!term" class="text-center mb-4">use the search bar below</h3>

<!-- search bar -->
<div class="wrapper-300">
	<app-search-bar></app-search-bar>
</div>

<!-- searching -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Searching...</p>
	<span class="oi oi-data-transfer-download spin"></span>
</div>

<!-- no results -->
<p *ngIf="term && ready && !data" class="text-center my-5">No results.</p>

<!-- display results by resources -->
<ul *ngIf="term && ready && data" class="my-5 p-0">
	<li *ngFor="let resource of data">
		<h2 class="my-3">{{resource.resourceName}} ({{resource.count}})</h2>
		<app-item-list [items]="getItemsUrls(resource.resourceName)"></app-item-list>
	</li>
</ul>