<div class="search-bar">
	<form class="search-bar--form">
		<input class="form-control search-bar--input" type="search" name="search" placeholder="search..." [(ngModel)]="term" />
		<button class="btn btn-primary search-bar--button" [disabled]="!term" [routerLink]="'/search/' + term" type="button">
			<span class="oi oi-magnifying-glass"></span>
		</button>
	</form>
</div>