<!-- loading -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Loading item...</p>
	<span class="oi oi-data-transfer-download spin"></span>
</div>

<!-- no data -->
<div *ngIf="ready && !item" class="text-center my-5">
	<p>Data unavailable.</p>
</div>

<div *ngIf="item">

	<!-- breadcrumbs -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a [routerLink]="'/home'">Home</a></li>
			<li class="breadcrumb-item"><a [routerLink]="'/resource/planets'">Planet</a></li>
			<li class="breadcrumb-item" aria-current="page">{{item.itemName}}</li>
		</ol>
	</nav>

	<!-- main page header -->
	<h1 class="text-center">{{item.itemName}}</h1>

	<!-- general information -->
	<h2>Information</h2>
	<dl class="row mb-5">
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Diameter</dt>
			<dd>{{item.diameter}} km</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Rotation period</dt>
			<dd>{{item.rotation_period}} hours</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Orbital period</dt>
			<dd>{{item.orbital_period}} days</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Gravity</dt>
			<dd>{{item.gravity}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Population</dt>
			<dd>{{item.population}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Climate</dt>
			<dd>{{item.climate}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Terrain</dt>
			<dd>{{item.terrain}}</dd>
		</div>
		<div class="col-6 col-sm-4 col-md-3">
			<dt>Surface water</dt>
			<dd>{{item.surface_water}}%</dd>
		</div>
	</dl>

	<!-- related items -->
	<app-item-list *ngIf="item.residents && item.residents.length" [title]="'Residents'" [items]="item.residents"></app-item-list>
	<app-item-list *ngIf="item.films && item.films.length" [title]="'Films'" [items]="item.films"></app-item-list>
</div>