<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Home</li>
	</ol>
</nav>

<!-- page main header -->
<h1 class="text-center">Star Wars Fan App</h1>
<h3 class="text-center mb-4">browse resources</h3>

<!-- loading -->
<div *ngIf="!ready" class="text-center my-5">
	<p>Loading list of resources...</p>
	<span class="oi oi-data-transfer-download spin"></span>
</div>

<!-- no data -->
<div *ngIf="ready && !data" class="text-center my-5">
	<p>Data unavailable.</p>
</div>

<!-- list of available resources -->
<div class="row" *ngIf="ready && data">
	<div class="col-12 col-sm-6 col-md-4 pb-4" *ngFor='let resource of data | keyvalue'>

		<!-- resource card -->
		<div class="card text-center">
			<div class="card-header">{{resource.key}}</div>
			<div class="card-body">
				<div class="resource-image resource-image-{{resource.key}}"></div>
			</div>
			<div class="card-footer">

				<!-- link to this resource page -->
				<a href="#" [routerLink]="'/resource/' + resource.key" class="card-link">browse all {{resource.key}}</a>
			</div>
		</div>
	</div>
</div>