<h5 class="p-3 m-0 bg-light border-bottom">Menu</h5>
<nav>
	<div class="list-group list-group-flush bg-light">
		<a class="list-group-item list-group-item-action" routerLinkActive="active" [routerLink]="'/home'">Home</a>
		<a class="list-group-item list-group-item-action" routerLinkActive="active" [routerLink]="'/search'">Search</a>
		<a href="#menu-resources" data-toggle="collapse" class="list-group-item list-group-item-action collapse-glyph">
			<span class="oi" [ngClass]="{'oi-chevron-right': true}"></span> &nbsp; Resources</a>
		<div id="menu-resources" class="list-group border-bottom collapse">
			<a *ngFor="let r of resourceList | keyvalue" class="list-group-item list-group-item-action pl-5 py-2" [routerLink]="'/resource/'+r.key" routerLinkActive="active">{{r.key | titlecase}}</a>
		</div>
	</div>
</nav>

<h5 class="p-3 m-0 bg-light border-bottom">Settings / Options</h5>
<div class="list-group list-group-flush">
	<a class="list-group-item list-group-item-action" [routerLink]="'/cache'">Manage cache</a>
</div>

<br />