
/******************************************************************************
	Star Wars font for h1 headers.
*/
@font-face {
    font-family: 'distant_galaxyregular';
    src: url('assets/fonts/DISTGRG_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'distant_galaxyregular';
}


/******************************************************************************
	Apply a background image to illustrate a specific resource.
*/
.resource-image {
	height: 4rem;
	text-align: center;
	display:block;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

.resource-image-films {
	background-image: url('assets/images/movie.png');
}
.resource-image-people {
	background-image: url('assets/images/group.png');
}
.resource-image-planets {
	background-image: url('assets/images/universe.png');
}
.resource-image-species {
	background-image: url('assets/images/alien.png');
}
.resource-image-starships {
	background-image: url('assets/images/rocket.png');
}
.resource-image-vehicles {
	background-image: url('assets/images/suv-car.png');
}


/******************************************************************************
	Adds roman number before an element.
*/
.roman-1::before { content: "\2160"; }
.roman-2::before { content: "\2161"; }
.roman-3::before { content: "\2162"; }
.roman-4::before { content: "\2163"; }
.roman-5::before { content: "\2164"; }
.roman-6::before { content: "\2165"; }
.roman-7::before { content: "\2166"; }
.roman-8::before { content: "\2167"; }
.roman-9::before { content: "\2168"; }


/******************************************************************************
	Make an element bounce up and down. Used for loading animation.
*/

.spin {
	animation: bounce .5s ease-in-out infinite;
}

@keyframes bounce {
	from {transform: translateY(0)}
	50% {transform: translateY(10px)}
	to {transform: translateY(0)}
}


/******************************************************************************
	Specificly used for sub menu in the nav-bar component.
*/
.collapse-glyph {
	&[aria-expanded="true"] .oi-chevron-right {
		transform: rotateZ(90deg);
	}
}


/******************************************************************************
	Custom content wrapper.
*/
.wrapper-300 {
	max-width:300px;
	margin:auto;
}


/******************************************************************************
	Override bootstrap card header.
*/
.card .card-header {
	font-variant: small-caps;
	font-weight: bold;
}


/******************************************************************************
	Dark deep space background.
*/
.sw-background {
	background-color: #112;
}
