<h2>Cache Management</h2>

<p><button type="button" class="btn btn-primary btn-sm mr-3" (click)="loadCache()">load sample</button> load data into cache from file <code>assets/cache/cache.json</code></p>

<p><button type="button" class="btn btn-primary btn-sm mr-3" (click)="clearCache()" [disabled]="!cache">clear</button> clear cached items from local storage</p>

<p><button type="button" class="btn btn-primary btn-sm mr-3" (click)="downloadCache()">download</button> download a json file of the cached data.</p>

<p>There are {{getCacheSize()}} entries in the local storage cache.</p>
<div style="height: 500px;overflow: scroll;border:1px solid #000;">
	<ul>
		<li *ngFor="let entry of cache | keyvalue">{{entry.key}}</li>
	</ul>
</div>