.app-container {
	position: relative;
	overflow: hidden;
}

.app-header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	&--menu-toggle {
		align-self: center;
		margin-right: 2rem;
	}
	
	&--user {
		flex-grow: 1;
		flex-basis: 100%;
		text-align: center;
		align-self: center;
		font-size: 130%;
		margin-bottom: 1rem;
	}
	
	&--search-bar {
		align-self: center;
		flex-grow: 1;
	}
}

.app-body {
	position: relative;
	display: flex;
		
	&--content {
		order: 2;
		flex-grow: 1;
		width: 100%;
	}

	&--menu {
		z-index: 999;
		order: 1;
		flex-basis: 100%;
		margin-left: -100%;
		transition: all .2s ease-in;
	
		&.toggled {
			display: block;
			transform: translateX(100%);
		}
	}
}

// Overide some behaviour of the bootstrap 'container' class for
// small screens.
@media all and (max-width: 767px) {
	.app-container {
		max-width: 100%;
		margin: 0;
	}
}

// Overide the behaviour of the side menu for bigger screen.
// The menu is not full width anymore, only 300px.
@media all and (min-width: 576px) {
	.app-body--menu {
		flex-basis: 300px;
		margin-left: -300px;
		
		&.toggled {
			display: block;
			transform: translateX(300px);
		}
	}
}


// Overide for bigger screen. Add some margin around the app and
// re-arrange header components.
@media all and (min-width: 768px){

	.app-container {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.app-header {
		&--menu-toggle {
			order: 1;
		}

		&--user {
			text-align: left;
			order: 2;
			flex-grow: 1;
			flex-basis: 0;
			margin-bottom: 0;
		}

		&--search-bar {
			order: 3;
			flex-grow: 0;
		}
	}
}