<div class="container app-container p-0 border border-dark bg-light">

	<header class="app-header bg-light border-bottom p-4" *ngIf="auth.isAuthenticated()">

		<!-- username -->
		<span class="app-header--user">Welcome, <b>{{this.auth.username}}</b>! <i><a href="#" class="app-header--logout" (click)='auth.logout()'>Logout</a></i></span>

		<!-- menu toggle -->
		<div class="app-header--menu-toggle">
			<div class="menu-toggle" [ngClass]="{'toggled': menuOpen}" (click)="menuOpen = !menuOpen">
				<span class="menu-toggle--bar"></span>
				<span class="menu-toggle--bar"></span>
				<span class="menu-toggle--bar"></span>
			</div>
		</div>

		<!-- search bar -->
		<app-search-bar class="app-header--search-bar"></app-search-bar>

	</header>

	<div class="app-body">

		<div class="app-body--content bg-white p-4" (click)="menuOpen = false">
			<router-outlet></router-outlet>
		</div>

		<aside class="app-body--menu bg-light border-right" [ngClass]="{'toggled': menuOpen}">
			<app-nav-bar></app-nav-bar>
		</aside>

	</div>

	<footer class="app-footer bg-light border-top py-3">
		<p class="text-center m-0">Coding Challenge - Star Wars Fan App<br />April 2020</p>
	</footer>

</div>